doctype html
html(lang="en")
  head
    title 有赞百事通
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="cleartype", content="on")
    meta(name="viewport", content="width=320, initial-scale=1.0, user-scalable=no")
  body
    #container
    if env == 'development'
      script(src="/build/main.bundle.js")
    else
      script(src="http://7j1zm5.com1.z0.glb.clouddn.com/main_123b1f5d4758baf7f57c.bundle.js")
