$cityTop: 0;
$cityTopIphone4: 70px;

html, body {
  height: 100%;
}

.city-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: -$cityTop;
  transform: translateY(-$cityTop);
  margin: 0 auto;
  max-width: 500px;
  background: url('/assets/city.png') rgb(50, 52, 61) no-repeat;
  background-size: 100%;
  background-position: center top;
  text-align: center;
  color: white;

  h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    margin: 25px 0 10px 0;
  }

  p {
    font-size: 12px;
    line-height: 1em;
    margin: 10px 0;
  }
}

@media (device-width: 320px) and (device-height: 480px) {
  .city-container {
    bottom: -$cityTopIphone4;
    transform: translateY(-$cityTopIphone4);

    h3, p {
      display: none;
    }
  }
}

.link-wrap {
  position: absolute;
  left: 0;
  top: 0;
}

.city-link {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
