.city-container {
  width: 100%;
  height: 667px;
  margin: 0 auto;
  max-width: 640px;
  background: url(http://img.yzcdn.cn/public_files/2016/05/09/a903e4e4de9c5591b411ac105c6be5a0.png) rgb(50, 52, 61) no-repeat;
  background-size: 100%;
  background-position: center top;
  text-align: center;
  color: white;

  h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    padding-top: 25px;
    margin: 0 0 10px 0;
  }

  p {
    font-size: 12px;
    line-height: 1em;
    margin: 10px 0;
  }

}

.link-wrap {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.city-link {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}


.animation-icon {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.animation-boat {
  animation: 8s boat infinite ease-in-out;
}

.animation-light {
  animation: 3s light infinite ease-in-out alternate-reverse;
}

.animation-balloon {
  animation: 8s balloon infinite ease-in-out alternate-reverse;
}

.animation-rice {
  animation: 3s rice infinite ease-in-out alternate-reverse;
}

.animation-cloud {
  animation: 5s cloud infinite ease-in-out;
}

@keyframes boat {
  0% {
    transform: translate3d(-13px, 5px, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(-13px, 5px, 0);
    opacity: 1;
  }
  55% {
    transform: translate3d(6px, -4px, 0);
    opacity: 1;
  }
  90% {
    transform: translate3d(6px, -4px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(6px, -4px, 0);
    opacity: 0;
  }
}

@keyframes light {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes balloon {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  90% {
    transform: translate3d(50px, -20px, 0);
  }
  100% {
    transform: translate3d(50px, -20px, 0);
  }
}

@keyframes rice {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cloud {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  20% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(-20px, 10px, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-20px, 10px, 0);
  }
}
