.search-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: url(http://img.yzcdn.cn/public_files/2016/05/09/30a783843ad7c6a1fefb20aab7a895db.png) no-repeat;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  cursor: pointer;
}
