.intro-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/09/9c0b4d9b5cc62e45420fb60f6ede28d9.png);
}

.intro-enter-link-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;

  .intro-enter-link {
    left: 0;
    right: 50%;

    &:nth-child(1) {
      background-color: #F60;
      color: white;
    }

    &:nth-child(2) {
      left: 50%;
      right: 0;
    }
  }
}

.intro-enter-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  line-height: 57px;
  text-align: center;
  text-decoration: none;
  color: #301202;
  font-size: 16px;
  background-color: #ffb400;
}
